
          <tr>
            <td class="droidFont fontSizeMedium"><%= sponsorship.created_at %></td>
            <td class="droidFont fontSizeMedium">$<%= sponsorship.amount %></td>
            <td class="droidFont fontSizeMedium"><%= sponsorship.person.name %></td>
            <td class="droidFont fontSizeMedium"><%= sponsorship.person.phone %></td>
            <td class="droidFont fontSizeMedium"><%= sponsorship.person.email %></td>
          </tr>
