<!DOCTYPE html>
<html lang="en">
<head>
  <title>View and Edit Dog Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<!-- for working offline:
<link rel="stylesheet" href=/bootstrap.min.css>
<script src=/jquery.min.js></script>
<script src=/bootstrap.min.js></script> -->

</head>

<body>
  <nav id="AdminNavBar" class="navbar navbar-default navbar-fixed-top" role='navigation'>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#AdminNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home#home"> <img src="http://i346.photobucket.com/albums/p431/novi_w811/MR%20Logo%20Horizontal_zpsyhm7zhx0.jpg" height="50px" width="150px">
        </a>
      </div>

    <!-- <div class="collapse navbar-collapse" id="AdminNavbar"> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="home#home"></a>
        </li>
        <li><a><%= link_to 'Dogs', admin_dogs_path %></a></li>
        <li><a><%= link_to 'People', admin_people_path %></a></li>
      </ul>
    </div>

  </nav>

  <br><br>

  <%= form_for [:admin, @dog] do |f| %>

  <div class="container">
    <header id="top" class="header">
      <h1><span>Dog Details</span> <button class="btn btn-success pull-right" type="submit">   Save   </button>
      </h1>
    </header>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-6 control-label text-right">Name</label>
            <div class="col-sm-6">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label text-right">Colour markings</label>
            <div class="col-sm-6">
              <%= f.text_field :color_markings, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-6 text-right">
              <label class="control-label">Status</label>
            </div>
            <div class="col-sm-6">
              <div class="form-control">
                <%= f.select :adoption_status, [['Looking for adoption','looking for adoption'], ['Adopted', 'adopted']], include_blank: true %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-6 text-right">
              <label class="control-label">Dog location</label>
            </div>
            <div class="col-sm-6">
              <div class="form-control">
                <%= f.select :location_id, Location.all.collect {|p| [p.name, p.id]}, include_blank: true %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="rescued_on" class="col-sm-6 control-label text-right">Date rescued</label>
              <div class="col-sm-6">
                <div class="input-group date" id='rescued_on'>
                  <input type="text" class="form-control" />
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
          </div>

          <script type="text/javascript">
          $(document).ready(function() {
            $("#rescued_on").datepicker();
            $('btn').click(function() {
              $("#rescued_on").focus();
            });
          });
          </script>

          <div class="form-group">
            <label for="is_hdb_approved" class="col-sm-6 control-label text-right">HDB approved</label>
            <div class="col-sm-6">
            <%= f.radio_button :is_hdb_approved, 'true' %>
            <%= f.label :is_hdb_approved, 'Yes', :value => 'true' %>
            <%= f.radio_button :is_hdb_approved, 'false' %>
            <%= f.label :is_hdb_approved, 'No', :value => 'false' %>
            <%= f.radio_button :is_hdb_approved, 'maybe' %>
            <%= f.label :is_hdb_approved, 'Maybe', :value => 'maybe' %>
            <!--   <label class="radio-inline"> <input type="radio" name="is_hdb_approved" id="hdb_approved_yes" value="true">Yes</label>
              <label class="radio-inline"> <input type="radio" name="is_hdb_approved" id="hdb_approved_no" value="false">No</label>
              <label class="radio-inline"> <input type="radio" name="is_hdb_approved" id="hdb_approved_maybe" value="maybe">Maybe</label> -->
            </div>
          </div>
      </div>
      <div class="col-md-6">
      

        <div style="height:150px;">
<%= image_tag(@dog.image_url, class: "image150" ) if @dog.image_url.present? %>
</div>

<div class="field">
         <%= f.label :image_url, 'Upload Image:' %>
         <%= f.filepicker_field :image_url, dragdrop: true %>
       </div>


      </div>
    </div> <!-- End of Dog Details section -->

  </div>

  <hr style="width: 100%; color: #006633; height: 1px; background-color: #006633">

  <div class="container">
    <h2><span><strong>Basic Information</strong></span>
      <button class="btn btn-success pull-right" type="submit">   Save   </button>
    </h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-6 control-label" >Gender</label>
              <div class="col-sm-6">
                <%= f.radio_button :gender, 'male' %>
                <%= f.label :gender, 'Male', :value => 'male' %>
                <%= f.radio_button :gender, 'female' %>
                <%= f.label :gender, 'Female', :value => 'female' %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="born_on" class="col-sm-6 control-label">Date of birth (estimated)</label>
                <div class="col-sm-6">
                  <div class="input-group date" id='born_on'>
                  <input type="text" class="form-control" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <script type="text/javascript">
              $(document).ready(function() {
                $("#born_on").datepicker();
                $('btn').click(function() {
                  $("#born_on").focus();
                });
              });
              </script>

            <div class="form-group">
              <label for="chip_number" class="col-sm-6 control-label">Chip no.</label>
                <div class="col-sm-6">
                  <input class="form-control" id="chip_number" type="string" value="<%= @dog.chip_number %>">
                </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
                <label for="age" class="col-sm-6 control-label">Age</label>
                  <div class="col-sm-6">
                    <input class="form-control" id="age" type="text" value="<%= friendly_age(@dog.born_on) %>">
                  </div>
            </div>

            <div class="form-group">
              <label for="license_number" class="col-sm-6 control-label">License no.</label>
                <div class="col-sm-6">
                  <input class="form-control" id="license_number" type="string" value="<%= @dog.license_number %>">
                </div>
            </div>
          </div>
        </div>
  </div> <!-- End of Basic Information section -->

  <hr style="width: 100%; color: #006633; height: 1px; background-color: #006633">

  <div class="container">
    <h2><span><strong>Temperament</strong></span>
      <button class="btn btn-success pull-right" type="submit">   Save   </button>
    </h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="is_good_with_other_dogs" class="col-sm-6 control-label">Good with other dogs?</label>
              <div class="col-sm-6">
                <%= f.radio_button :is_good_with_other_dogs, 'true' %>
                <%= f.label :is_good_with_other_dogs, 'Yes', :value => 'true' %>
                <%= f.radio_button :is_good_with_other_dogs, 'false' %>
                <%= f.label :is_good_with_other_dogs, 'No', :value => 'false' %>
              </div>
              <div class="form-group">
                <label class="col-sm-6 control-label">Energy Level</label>
                <div class="col-sm-6">
                <%= f.radio_button :energy_level, 'low' %>
                <%= f.label :energy_level, 'Low', :value => 'low' %>
                <%= f.radio_button :energy_level, 'normal' %>
                <%= f.label :energy_level, 'Normal', :value => 'normal' %>
                <%= f.radio_button :energy_level, 'high' %>
                <%= f.label :energy_level, 'High', :value => 'high' %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="is_good_with_kids"class="col-sm-6 control-label">Good with kids?</label>
              <div class="col-sm-6">
                <%= f.radio_button :is_good_with_kids, 'true' %>
                <%= f.label :is_good_with_kids, 'Yes', :value => 'true' %>
                <%= f.radio_button :is_good_with_kids, 'false' %>
                <%= f.label :is_good_with_kids, 'No', :value => 'false' %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="notes_temperament" class="col-sm-3">Notes on temperament</label>
                <div class="col-sm-12">
                  <%= f.text_area :notes_temperament, cols:175, rows:5 %> 
                </div>
            </div>

          </div>
        </div>
        </div>
  </div> <!-- End of Temperament section -->

  <hr style="width: 100%; color: #006633; height: 1px; background-color: #006633">

  <div class="container">
    <h2><span><strong>Health</strong></span>
      <button class="btn btn-success pull-right" type="submit">   Save   </button>
    </h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-6 control-label">Vaccinated?</label>
                <div class="col-sm-6">
                <%= f.radio_button :is_vaccinated, 'true' %>
                <%= f.label :is_vaccinated, 'Yes', :value => 'true' %>
                <%= f.radio_button :is_vaccinated, 'false' %>
                <%= f.label :is_vaccinated, 'No', :value => 'false' %>
                </div>
              </div>
            </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-6 control-label">Sterilized?</label>
              <div class="col-sm-6">
                <%= f.radio_button :is_sterilized, 'true' %>
                <%= f.label :is_sterilized, 'Yes', :value => 'true' %>
                <%= f.radio_button :is_sterilized, 'false' %>
                <%= f.label :is_sterilized, 'No', :value => 'false' %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="notes_health" class="col-sm-12">Notes on health (e.g. health history, current health condition)</label>
                <div class="col-sm-12">
                  <%= f.text_area :notes_health, cols:175, rows:5 %> 
                </div>
            </div>
          </div>
        </div>
  </div> <!-- End of Health section -->

  <hr style="width: 100%; color: #006633; height: 1px; background-color: #006633">

  <div class="container">
    <h2><span><strong>Background Story</strong></span>
      <button class="btn btn-success pull-right" type="submit">   Save   </button>
    </h2>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="background_story" class="col-sm-12">(e.g. how and where it was found, the state when it was found)</label>
                <div class="col-sm-12">
                  <%= f.text_area :background_story, cols:175, rows:5 %> 
                </div>
            </div>
          </div>
        </div>
  </div> <!-- End of Background story section -->

  <hr style="width: 100%; color: #006633; height: 1px; background-color: #006633">

  <div class="container">
    <h2><span><strong>Donation & Sponsorship</strong></span>
      <div class="btn-toolbar pull-right" role="toolbar">
      <button class="btn btn-success pull-right" type="submit">   Add donor/sponsor  </button>
      <button class="btn btn-success pull-right" type="submit">   Edit details   </button>
    </div>
    </h2>

    <div class="row">
      <div class="panel panel-default">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-lg-1">Type</th>
              <th class="col-lg-2">Date contributed</th>
              <th class="col-lg-1">Amount (S$)</th>
              <th class="col-lg-3">Name</th>
              <th class="col-lg-2">Phone no.</th>
              <th class="col-lg-1">Email</th>
            </tr>
          </thead>
          <tbody>
            <% #@people.each do |people| %>

            <tr>
              <td class="col-lg-1">Donation</td>
              <td class="col-lg-2">[Latest] 01/01/2016</td>
              <td class="col-lg-1">100</td>
              <td class="col-lg-3">Mohammed Bin Sulaiman</td>
              <td class="col-lg-2">90909090</td>
              <td class="col-lg-1">youremail@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- End of Donation and Sponsorship section-->

  <hr style="width: 100%; color: #006633; height: 1px; background-color: #006633">

  <div class="container">
    <h2><span><strong>Updates</strong></span>
      <div class="btn-toolbar pull-right" role="toolbar">
        <button class="btn btn-success pull-right" type="submit"> <%= link_to 'Add an update', new_admin_dog_update_path(@dog) %>  </button>
   
    </h2>
      <div class="row">
    
  </div> <!-- End of Updates section -->

 <div class="container-fluid text-left">
      <%= render partial: "update", collection: @dog.updates %>
    </div>

  <button class="btn btn-success center-block" type="submit">   Save   </button>
<% end %> <!-- end form -->
  <footer class="footer text-center">
     <div class="container">
       <p class="text-muted">Place footer here</p>
     </div>
  </footer>

</body>

</html>
