<p id="notice"><%= notice %></p>

<h1 class="text-center">Update For <%= @dog.name%></h1>

<p id="notice"><%= notice %></p>

<div class="row">

  <!-- side column -->  
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>


  <!-- center content -->
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">  

    <div class= "row panel droidFont fontSizeLarge">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingTopBot20px ">

        <%= image_tag(@update.image_url, class: "img-responsive text-center") if @update.image_url.present? %>
      
      </div>  

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBot20px ">

        <strong><%= @update.date.strftime("%d %B %Y")  %></strong>
      
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBot20px ">

        <%= @update.text %>
      
      </div>


      <!-- buttons -->

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center paddingTopBot15px  ">

        <%= link_to 'Edit', edit_admin_dog_update_path(@update.dog_id, @update.id), :class => 'btn btnGreen btn-block fontSizeMedium' %>

      </div>  

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center paddingTopBot15px ">

        <%= link_to 'Back', admin_dog_path(params[:dog_id]), :class => 'btn btnWhite btn-block fontSizeMedium'  %>
      </div>  

    </div>  

  </div>

  <!-- side column -->  
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>

</div>
