<p id="notice"><%= notice %></p>

<p>
  <strong>Imglink:</strong>
  <%= @photo.imglink %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @photo.profile %>
</p>

<p>
  <strong>Dog:</strong>
  <%= @photo.dog %>
</p>

<%= link_to 'Edit', edit_admin_dog_photo_path(@photo) %> |
<%= link_to 'Back', admin_dog_path(@dog) %>
