<div class="col-md-6 text-center dogcard">
	<div class="dogcard-content">
	<div>
		<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13177607_512347952298939_5212659507092539555_n.jpg?oh=07e0184ec7280dbccee13e6d0126b08e&oe=586098DF" alt="Dog" /> 
	</div>
	
	<div>
		<h3><%= dog.name %></h3>
		<p><%= dog.gender %> , <%= friendly_age(dog.born_on) %></p>
	</div>

	<p class="quote-row-content">"
		<%= dog.quote %>"
	</p>
	
	<p>
		<%= link_to 'More About Me', about_dog_path(dog.id), :class => "btn btn-default" %>  
	</p>
</div>
</div>