
          
            <div class="col-md-6">
            <div class="row text-center">
              <div class="thumbnail">
                <img src="dog.jpg" alt="Dog"> 

                <p><strong><%= dog.name %></strong></p>
                
                <p><%= dog.gender %></p>
                <p><%= dog.born_on %></p>
                <p><%= dog.quote %></p>
                <p><%= dog.adoption_status %></p>

                <%= link_to 'About Me', about_dog_path(dog.id), :class => "btn" %>  

             
                
                
                


                <!-- Used to open the Modal -->

                <!-- Modal -->
                
              </div>
            </div>
            </div>
