<% if params[:"#{header[1]}"].nil? || params[:"#{header[1]}"] == 'any' %>
<div class="btn-group">
<<<<<<< HEAD
 <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
=======
 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
>>>>>>> 790af910c1ff22a82e380f5f79099eba28183e21
    <%= "Any #{header[0]}" %> <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <% items.each do |category|  %>
        <li><%= link_to "#{category}", root_path(@search_params.merge("#{header[1]}": "#{category}"))  %></li>      
        <% end %>
    </ul>
</div>
<% end %>



<% items.each do |maincat| %>
<% if params[:"#{header[1]}"] == "#{maincat}" %>

<div class="btn-group">
<<<<<<< HEAD
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
=======
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
>>>>>>> 790af910c1ff22a82e380f5f79099eba28183e21
     <%= "#{maincat}" %> <span class="caret"></span></button>
     <ul class="dropdown-menu" role="menu">
       <li><%= link_to "Any #{header[0]}", root_path(@search_params.merge("#{header[1]}": "any"))  %></li>
       <% items = items.rotate %>
       <% items.select {|it| it != maincat}.each do |category| %>

       <li><%= link_to "#{category}", root_path(@search_params.merge("#{header[1]}": "#{category}"))  %></li>     
       <% end %>
   </ul> 
</div>

<% end %>
<% end %>

                      

 

