
    <h2><%= dog.name %></h2>

    <h5><%= dog.gender %> , <%= friendly_age(dog.born_on) %></h5>

    <h3>"<%= dog.quote %>"</h3>

    <%= link_to 'More About Me', about_dog_path(dog.id), :class => "btn btn-default" %>  
