  <div class="container-fluid text-center padding">
    
  </div>

  <div class="container-fluid text-center section-green">
    <div class="row">
      <div class="col-md-12"> 
      <div class="col-md-3">
      </div>
        <div class="col-md-6 polaroid-content">             
          <% if @dog.photos.count > 1 %>
            <div id="myCarousel" class="carousel slide" >
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                <% 1.upto(@dog.photos.more_photo.count) do |number| %>

                  <li data-target="#myCarousel" data-slide-to="#{number}"></li>
                  <% number += 1 %>
                <% end %>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <% if @dog.try(:photos).profile_photo.try(:imglink).present? %>

                    <%= image_tag(@dog.try(:photos).profile_photo.try(:imglink), class: "polaroid-image" ) %>

                    <div class="carousel-caption">
                      <p><%= @dog.try(:photos).profile_photo.try(:caption) if @dog.try(:photos).profile_photo.try(:caption).present?%></p>
                    </div>

                  <% elsif @dog.try(:photos).first.try(:imglink).present?  %>
                    <%= image_tag(@dog.try(:photos).first.try(:imglink), class: "polaroid-image" ) %>
                    <div class="carousel-caption">
                      <p><%= @dog.photos.try(:photos).first.try(:caption) if @dog.photos.try(:photos).present? %></p>
                    </div>
                  <% end %>
                </div>


                <% @dog.photos.more_photo.each do |photo| %>
                  <div class="item">
                    <%= image_tag(photo.imglink, class: "polaroid-image" ) if photo.imglink.present? %> 
                    <div class="carousel-caption">
                      <p><%= photo.caption%></p>
                    </div>
                  </div>
                <% end %>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div> <!-- CAROUSEL SECTION ENDS -->
          <% elsif @dog.photos.count == 1 %>
            <%= image_tag(@dog.try(:photos).first.try(:imglink), class: "polaroid-image" ) %>
            <div class="carousel-caption">
              <p><%= @dog.photos.try(:photos).first.try(:caption) if @dog.photos.try(:photos).present? %></p>
            </div>
          <% else %>
            <h2>Sorry, no photo for <%= @dog.name %> yet.</h2>
          <% end %>

          <div class="container-fluid text-center">
    <h2 class='headline'><%= @dog.name %></h2>

     <h2>
            <span class='dog-quote-mark'>&ldquo;</span>
              <%= @dog.quote %>
            <span class='dog-quote-mark'>&rdquo;</span>
          </h2>



  </div>
    <div class="container-fluid text-left">
      <div class="row">
      <div class="col-md-12"></div>
        <div class="col-md-12">
          <h3> <b>BASIC INFORMATION </b> </h3>
          <div class="row">
            <div class="col-md-6">
              <h5> <b>Gender: </b><%= @dog.gender %> </h5>
            </div>
            <div class="col-md-6">
              <h5> <b>Age: </b> <%= friendly_age(@dog.born_on) %> </h5>
            </div>
            <div class="col-md-12">
              <h5> <b>HDB approved: </b> <%= yesno(@dog.is_hdb_approved)%> </h5>
              <% unless @dog.color_markings.blank? %>
              <h5> <b>Color markings: </b> <%= @dog.color_markings %> </h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% unless @dog.background_story.blank? %>
    <div class="container-fluid text-left">
      <div class="row">
        <div class="col-md-12">
          <h3> <b>Background story </b> </h3>
          <h5> <%=@dog.background_story %> </h5>
        </div>
      </div>
    </div>
    <% end %>


    <div class="container-fluid text-left">
      <div class="row">
        <div class="col-md-12">
          <h3> <b>TEMPERAMENT</b> </h3>
          <div class="row">

            <% unless @dog.is_good_with_other_dogs.blank? %>
            <div class="col-md-6">
              <h5> <b>Good with other dogs: </b><%= yesno(@dog.is_good_with_other_dogs) %> </h5>
            </div>
            <% end %>

            <% unless @dog.is_good_with_kids.blank? %>
            <div class="col-md-6">
              <h5> <b> Good with kids: </b> <%= yesno(@dog.is_good_with_kids) %> </h5>
            </div>
            <% end %>

            <% unless @dog.energy_level.blank? %>
            <div class="col-md-12">
              <h5> <b>Energy level: </b> <%= @dog.energy_level %> </h5>
              <% end %>

              <% unless @dog.notes_temperament.blank? %>
              <h5> <b> Notes on temperament </b></h5>
              <h5> <%= @dog.notes_temperament %> </h5>
              <% end %>      
            </div>
    
     
    

  <div class="container-fluid text-left">
        <div class="row">
          <div class="col-md-12">
            <h3> <b>HEALTH</b> </h3>
            <div class="row">

              <% unless @dog.is_vaccinated.blank? %>
              <div class="col-md-6">
                <h5> <b>Been vaccinated: </b><%= yesno(@dog.is_vaccinated) %> </h5>
              </div>
              <% end %>      

              <% unless @dog.is_sterilized.blank? %>
              <div class="col-md-6">
                <h5> <b> Been sterilized: </b> <%= yesno(@dog.is_sterilized) %> </h5>
                <% end %>        
              </div>
              <% unless @dog.notes_health.blank? %>      
              <div class="col-md-12">
                <h5> <b> Notes on health </b> (e.g. health history, current health condition)</h5>
                <h5> <%= @dog.notes_health %> </h5>
              </div>
              <% end %>

            </div>
          </div>



        


    <% unless @dog.background_story.blank? %>
    <div class="container-fluid text-left">
      <div class="row">
        <div class="col-md-12">
          <h3> <b>Background story </b> </h3>
          <h5> <%=@dog.background_story %> </h5>
        </div>
      </div>
    </div>
    <% end %>




        

        <div class="container-fluid text-left">
          <h3> <b> LATEST UPDATES </b> </h3>
        </div>
        <%= render partial: "update", collection: @dog.updates %>
      </div>

    </div>


<div class="container-fluid text-center">
    <p class="headline"> Would you take me home? </p>
  </div>

  <div class="container-fluid text-center">
    <%= link_to 'BACK', '/', class: 'btn btn-default' %>
  </div>
  </div>
  </div>




  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">


      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <a class="navbar-brand" href="#">Contact Jamie at 9123 4567 to adopt <b> <%=@dog.name %> </b> </a>

        </ul>

      </ul>
    </div>
  </div>
  </nav>

