<%= render 'home'  %>

<div class="jumbotron">
</div>
 <div class="container-fluid text-center">
  <h1>About Me!</h1>


      <img src="dog.jpg" alt="Dog">
      <p><strong><%= @dog.name %></strong></p>
      <p>Story: <%= @dog.background_story %> </p>
      <p>Birthdate: <%= @dog.born_on %></p>
      <p> Gender:<%= @dog.gender %></p>

      <button class=="btn"><%= link_to 'BACK', '/home' %>  </button>
      

           

                
</div>
 </div>
 </div>
