
<body>

<div class="container-fluid text-center mainbackground">
<img class="mainlogo" src = "/MR_Logoround.png" alt=" Mutts-Rescue Logo" />
<h3 class="name"> SAVING ONE LIFE AT A TIME

</h3>
<p class="landingfont">  MUTTS </p>
<p class="landingfont">  RESCUE </p>

<div class="row">
    <div class="col-md-12"> 
    <div class="col-md-3"></div>

<div class="col-md-6">
<p class="name blocktext">We are a group of animal lovers who came together as a team to support local animal welfare in Singapore.
We rescue strays and animals that are abused, neglected or abandoned. We strongly feel that all animals should be treated with love and respect.</p>
</div>
</div>
</div>
</div>





<div class="row container-fluid text-center section-creamwhite">

<h2 class="headline" style="font-size: 54px"> #DOTD (Dog Of The Day) </h2>

       

        </div>

<div class="row container-fluid trans">
  <%= render partial: "featureddog", locals: {dog: @featured_dog}  %>
</div>
</div>

</div>
  <div class="row container-fluid text-center section-creamwhite">
  <h2 class="headline" style="font-size: 54px"> Dogs for Adoption </h2>
          <p class="name" style="margin:0px"; > These <%=Dog.for_adoption.count%> lovely dogs are looking for a forever home. Can you help them? </p>
        </div>
      </div>

<div class="container-fluid section-green">
<div class="container-fluid text-center" style="margin:10px">

  <%= render "dropdown_filter", :header => ["HDB Approval?","is_hdb_approved"] , :items => ["hdb_approved","not_hdb_approved","maybe_hdb_approved"] %>
  <%= render "dropdown_filter", :header => ["Gender","gender"], :items => ["male","female"] %>
  <%= render "dropdown_filter", :header => ["Age","born_on"] , :items => ["puppy","adult"] %>

</div>

<div class="row">
  <%= render partial: "dogcard", collection: @dogs.shuffle, as: 'dog' %>
</div>
</div>
</div>





<footer class="container-fluid text-left">
  <p> <b>About</b> </p>
  <p>Mutts Rescue is a non-profit organisation that cares for unwanted dogs. We save dogs which are neglected, abandoned or stray and help them find loving homes. </p>
  <p> Find us on <img class="footerlogo" src="https://en.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png"/> </p>

  <p> This site is designed and developed by 

<img class="footerlogo" src="http://www.techladies.co/assets/techladies-b66f225843b0438bfb8c245c805c266008ad7fb8206b0582cf1f14b458900d06.png"/>

  </p>


</footer>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">


    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">
        <a class="navbar-brand" href="#">Contact Jamie at 9457 5703 to Adopt. Foster. Sponsor. Volunteer</a>

      </ul>
    </li>
  </ul>
</div>
</div>
</nav>