
<body>



  <%= render 'home'  %>

  <div class="container-fluid homepage">

    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid text-center">
          <h2> <%=Dog.for_adoption.count%> lovely dogs need food and are looking for a home. </h2>
          <h2>Can you help them? </h2>
        </div>
      </div>

      <% if @featured_dog %>
        <div class="col-md-8">
          <% if @featured_dog.photos.profile_photo.try(:imglink).present? %>

          <%= image_tag(@featured_dog.try(:photos).profile_photo.try(:imglink), class: "img_featureddog")  %>


          <% elsif @featured_dog.try(:photos).first.try(:imglink).present? %>

          <%= image_tag(@featured_dog.try(:photos).first.try(:imglink), class: "img_featureddog") %>

          <% end %>
        </div>
        <div class="col-md-4">
         <div class="container-fluid text-center">
          <%= render partial: "featured", locals: {dog: @featured_dog} %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<h4> Dogs for Adoption </h4>


<div class="container-fluid text-center">

  <%= render "dropdown_filter", :header => ["HDB Approval?","is_hdb_approved"] , :items => ["hdb_approved","not_hdb_approved","maybe_hdb_approved"] %>
  <%= render "dropdown_filter", :header => ["Gender","gender"], :items => ["male","female"] %>
  <%= render "dropdown_filter", :header => ["Age","born_on"] , :items => ["puppy","adult"] %>

</div>

<div class="row">
  <%= render partial: "dogcard", collection: @dogs.shuffle, as: 'dog' %>
</div>

</div>

<footer class="container-fluid text-center">
  <p>Saving one life at a time</p>
</footer>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">


    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">
        <a class="navbar-brand" href="#">Contact Jamie at 9123 4567 to Adopt. Foster. Sponsor. Volunteer</a>

      </ul>
    </li>
  </ul>
</div>
</div>
</nav>