
<h2>Pages</h2>
<h5>Managing Home Page Information</h5>

<p id="notice"><%= notice %></p>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Page Title</th>
      <th>Page Content</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr style="background-color: white;">
        <td><%= page.title %></td>
        <td><%= page.content.html_safe %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
