<p id="notice"><%= notice %></p>


<div class="row">

  <!-- title -->
  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <h1 class="droidFont">People</h1>
  </div>

  <!-- create person button -->
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 paddingTopBot15px">
    <%= link_to 'Create New Person', new_admin_person_path, :class =>'btn btn-block btnGreen droidFont fontSizeLarge strong' %>
  </div>

</div>

<div class ="row">

  <table class="table droidFont fontSizeMedium">
    <thead>
      <tr class="bgDarkGrey fontWhite">
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Bank Acct</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @person.each do |person| %>
        <tr>
          <td class="droidFont fontSizeMedium"><%= person.name %></td>
          <td class="droidFont fontSizeMedium"><%= person.phone %></td>
          <td class="droidFont fontSizeMedium"><%= mail_to person.email, person.email %></td>
          <td class="droidFont fontSizeMedium"><%= person.bank_acct %></td>
          <td class="droidFont fontSizeMedium"><%= person.address %></td>

          <td class="droidFont fontSizeMedium"><%= link_to 'Edit', edit_admin_person_path(person), :class =>'underline' %></td>

          <td class="droidFont fontSizeMedium"><%= link_to 'Delete', [:admin, person], method: :delete, data: { confirm: 'Are you sure?' }, :class =>'underline' %></td>


        </tr>
      <% end %>
    </tbody>
  </table>


</row>




