<p id="notice"><%= notice %></p>


<div class="row">

  <!-- title -->
  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <h1 class="droidFont">Sponsorships</h1>
  </div>

  <!-- create person button -->
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 paddingTopBot15px">
    <%= link_to 'Create New Sponsorship', new_admin_sponsorship_path, :class =>'btn btn-block btnGreen droidFont fontSizeLarge strong' %>
  </div>

</div>
<br/>

<table class="table droidFont fontSizeMedium">
  <thead>
    <tr class="bgDarkGrey fontWhite">
      <th>Donor / Sponsor Name</th>
      <th>Dog Contributed To</th>
      <th>Amount Contributed</th>
      <th>Phone</th>
      <th>Bank Acct</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorships.each do |s| %>
      <tr>
        <td class="droidFont fontSizeMedium"><%= s.person.name %></td>
        <td class="droidFont fontSizeMedium"><%= s.dog.name %></td>
        <td class="droidFont fontSizeMedium"><%= number_to_currency(s.amount, unit:"S$") %></td>
        <td class="droidFont fontSizeMedium"><%= s.person.phone %> </td>
        <td class="droidFont fontSizeMedium"><%= s.person.bank_acct %></td>
        <td class="droidFont fontSizeMedium"><%= s.person.address %></td>

        <td class="droidFont fontSizeMedium"><%= link_to 'Edit', edit_admin_sponsorship_path(s.id), :class =>'underline' %></td>

        <td class="droidFont fontSizeMedium"><%= link_to 'Delete', [:admin, s], method: :delete, data: { confirm: 'Are you sure?' }, :class =>'underline' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>




